.page
  margin: 45px 10%
  width: 80%
  min-width: 550px
  &__header
    height: 100%
    display: flex
    justify-content: space-between
  .box
  &__title
    font-size: 30px
    font-weight: 400
    letter-spacing: 0.3px
    line-height: 25px
    margin-bottom: 15px
  &__button
    width: 45px
    height: 45px
    border-radius: 50%
    border: none
    background: $main-btn-bg
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    &_add
    &_edit
