
$color-main:  #9d379d
$color-text-hover:  rgba(183, 56, 183, 0.7)
$color-text-white: white
$color-border-hover: $color-main
$color-text-error: red

$main-text-secondary: #333333
$main-btn-bg: $color-main

$sidebar-text-white: white
$sidebar-bg-active: white
$sidebar-bg-color: $color-main

$item-border-color: #dfdfdf

$transition: .3s ease-in-out

$container-width: 100%
